/* 滚动轮播图、呼吸轮播图默认样式 */
div.carousel, div.carousel-breath, div.carousel-fragment {
    position: relative;
    overflow: hidden;
}

div.carousel-box {
    position: absolute;

    height: 100%;
    top: 0;
}

div.carousel-box > img {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

div.carousel-box > img:nth-child(1) {
    z-index: auto;
}

/* btns */
div.carousel-btns {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.default-left-btn {
    width: 30px;
    height: 60px;

    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

.default-right-btn {
    width: 30px;
    height: 60px;

    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    text-align: center;
    line-height: 60px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    cursor: pointer;
}

/* circles */
div.carousel-circles {
    width: 90px;
    height: 10px;

    position: absolute;
    display: flex;
    justify-content: space-between;

    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

div.default-cir {
    width: 10px;
    height: 10px;

    background-color: white;

    border-radius: 50%;
    cursor: pointer;
}

div.default-highlight-cir {
    width: 10px;
    height: 10px;

    background-color: yellow;

    border-radius: 50%;
    cursor: pointer;
}